* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}



.head{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}
.main-container{
    /* position: fixed; */
    /* border: solid red; */
    margin-top: 70px;
    margin-left: 230px;
    margin-right: 230px;
    padding: 100px 0px 100px 0px;
    background-color:blueviolet
    
}
.main-head{
    color: rgb(70, 12, 75);
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: xxx-large;
}

button{
    background-color: rgb(123, 32, 139);
    font-size: x-large;
    padding: 10px 10px 10px 10px;
    color: rgb(15, 23, 31);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}


button:hover{
    background-color: white;
    color: black;
}
textarea{
 padding: 30px;
 margin: 30px;
font-size: x-large;
}








.foot{
    text-align: center;
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: large;
    
}




